.idea/
.vscode/
.directory
.DS_Store
dist/
build/
zipped/
tmp-build/
node_modules/
/vendor/
/meet-my-team/vendor/
/meet-my-team/composer.lock
/meet-my-team/includes/vendor/
.phpunit.result.cache
*.phpunit.result.cache
.wp-env.override.json
.env
.env.*
!.env.example
*.log
__pycache__/
# repository specific
meet-my-team/includes/vendor/
